{% extends 'base.html' %}

{% block title %}
  Запрещено (403) Ошибка проверки CSRF
{% endblock %}

{% block content %}
  <h1>Ошибка проверки CSRF. Запрос отклонён</h1>
  <p>Вы видите это сообщение, потому что данный сайт требует, чтобы при 
    отправке форм был отправлен и CSRF-токен. Этот токен необходим по 
    соображениям безопасности, чтобы убедиться, что ваш браузер не был 
    взломан и не выполняет от вашего лица действий, запрограммированных 
    третьими лицами.
  </p>
{% endblock %}